img {
    max-width: 100%;
}

.container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    background-color: aqua;
    flex-wrap: wrap;
}

.item {
    font-size: 35px;
}

/* media queries */
@media (max-width: 691px) {
    .item {
        font-size: 20px;
    }

    .container {
        flex-direction: column;
    }
}